<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link href="../css/metro.css" rel="stylesheet">
    <link href="../css/metro-icons.css" rel="stylesheet">
    <link href="../css/metro-responsive.css" rel="stylesheet">

    <script src="../js/jquery-2.1.3.min.js"></script>
    <script src="../js/metro.js"></script>
    <script src="../js/ga.js"></script>
</head>
<body>
    <div class="container">
        <div class="main-content clear-float">
            <div class="tile-area no-padding">
                <div class="tile-group no-margin no-padding" style="width: 100%">
                    <div class="tile fg-white" data-role="tile">
                        <div class="tile-content iconic">
                            <img src="../images/HTML5.png">
                        </div>
                    </div>
                    <div class="tile fg-white" data-role="tile">
                        <div class="tile-content iconic">
                            <img src="../images/css3.png">
                        </div>
                    </div>
                    <div class="tile fg-white" data-role="tile">
                        <div class="tile-content iconic">
                            <img src="../images/JavaScript.png">
                        </div>
                    </div>
                    <div class="tile fg-white" data-role="tile">
                        <div class="tile-content iconic">
                            <img src="../images/jquery_hosting.png">
                        </div>
                    </div>  
                    <div class="tile fg-white" data-role="tile">
                        <div class="tile-content iconic">
                            <img src="../images/ps.png">
                        </div>
                    </div> 
                    <div class="tile fg-white" data-role="tile">
                        <div class="tile-content iconic">
                            <img src="../images/animate.jpg">
                        </div>
                    </div>                  
                </div>                
            </div>
        </div> <!-- End of tiles -->
    </div>

    

</body>
</html>